

.header-Color{
    background-color: #423f3a;
}
.navbar-light{
    color: white !important;
}

.primary-color {
    background-color: #FFA500;
}
.primary-text {
    color: #FFA500;
}


.hover ul li a {
    color: rgb(238, 238, 238);
    font-weight: 400;
}

.hover ul li a:hover {
    border-bottom: 1px solid #FFA500;
    color: white;
}

.Drop-Nav ul {
    background-color: rgb(67, 71, 71);
    color: black;
}
.Drop-Nav ul li a {
    /* background-color: rgb(54, 104, 104); */
    color: white;
    font-weight: 400;
}
.Drop-Nav ul li a:hover {
    background-color:#998765;
    color: rgb(47, 35, 35);
    
}

form button :hover {
    background-color:  #e3a342;
    color: red;
}




/* ======================  */

/* SLIDER  */



/* =======================  */




.card-color {
    background-color: #55514b; 
    color: white;
}

/* ========================  */


.footer-color{

    background-color: rgb(22, 19, 19);

}



/* 
@media screen {
    container-Media {
        background-color: rgb(0, 0, 0);
    }
    
} */



/* ========================  */



.card:hover img.ctgy-hover {
    opacity: 0.8;
    cursor:pointer;
}
  /* ========  */

.order-Btn {
    background-color: #e6a223;
    color: #fffefe;
}
  .order-Btn:hover {

    background-color: #d99921;  
    /* color: rgb(82, 82, 49); */
  }


  .info {

    background-color: #4b9e55;

  }